/* @import url ('https://fonts.googleapis.com/css?family=Rubik&display=swap'); */

input[type=text] {

  padding: 10px 20px;
  font-size: 17px;
  margin: 0 auto;
    display: block;
}

#generation-list {
  list-style-type: none;
  padding: 0;
}

#generation-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#generation-list li:hover {
  background-color: #f2f2f2;
}